<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- 1. Pass all HTTP verbs directly to AspNetCoreModule -->
        <handlers>
            <remove name="aspNetCore" />
            <remove name="WebDAV" />
            <remove name="OPTIONSVerbHandler" />
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>

        <modules>
            <remove name="WebDAVModule" />
        </modules>

        <!-- 2. Fallback CORS headers at the IIS level for Preflight OPTIONS -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="https://agreeable-tree-07193f200.7.azurestaticapps.net" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, X-Telegram-Init-Data, Authorization" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>